@tailwind base;
@tailwind components;
@tailwind utilities;

select:active, select:focus{
    border: none;
}

.search-but {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-70%);
}